<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.safetogether">

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />



    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.safetogether.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainLoginActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />

        <activity android:name=".crew.HelpNotification"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".crew.LoginActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".crew.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".crew.ManualSignupActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />

        <activity android:name=".owner.CreateVenueActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".owner.LoginActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".owner.VenueCreatedActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />

        <activity android:name=".guest.CallHelpActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".guest.FeedbackAcceptedActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".guest.HelpOnTheWayActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".guest.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".guest.LoginActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".guest.SelfieActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".guest.ResourcesActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".guest.NotifyActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".guest.ManualSignupActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />

    </application>
</manifest>
